<a href="https://colab.research.google.com/github/omeromergiladi/machine_learning/blob/main/heart_desease.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score
import csv

In [23]:
from google.colab import files
uploaded = files.upload()

Saving heart.csv to heart (1).csv

In [25]:
df = pd.read_csv('heart.csv')

In [21]:
df.head()

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1   37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2   41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3   56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4   57    0   0       120   354    0  ...      1      0.6      2   0     2       1

[5 rows x 14 columns]

In [27]:
df.head(50)

    age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0    63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1    37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2    41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3    56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4    57    0   0       120   354    0  ...      1      0.6      2   0     2       1
5    57    1   0       140   192    0  ...      0      0.4      1   0     1       1
6    56    0   1       140   294    0  ...      0      1.3      1   0     2       1
7    44    1   1       120   263    0  ...      0      0.0      2   0     3       1
8    52    1   2       172   199    1  ...      0      0.5      2   0     3       1
9    57    1   2       150   168    0  ...      0      1.6      2   0     2       1
10   54    1   0       140   239    0  ...      0      1.2      2   0     2       1
11   48    0   2       130   275    0  ...      0      0.2      2   0     2       1
12   49    1   1       130   266    0  ...      0      0.6      2   0     2       1
13   64    1   3       110   211    0  ...      1      1.8      1   0     2       1
14   58    0   3       150   283    1  ...      0      1.0      2   0     2       1
15   50    0   2       120   219    0  ...      0      1.6      1   0     2       1
16   58    0   2       120   340    0  ...      0      0.0      2   0     2       1
17   66    0   3       150   226    0  ...      0      2.6      0   0     2       1
18   43    1   0       150   247    0  ...      0      1.5      2   0     2       1
19   69    0   3       140   239    0  ...      0      1.8      2   2     2       1
20   59    1   0       135   234    0  ...      0      0.5      1   0     3       1
21   44    1   2       130   233    0  ...      1      0.4      2   0     2       1
22   42    1   0       140   226    0  ...      0      0.0      2   0     2       1
23   61    1   2       150   243    1  ...      1      1.0      1   0     2       1
24   40    1   3       140   199    0  ...      1      1.4      2   0     3       1
25   71    0   1       160   302    0  ...      0      0.4      2   2     2       1
26   59    1   2       150   212    1  ...      0      1.6      2   0     2       1
27   51    1   2       110   175    0  ...      0      0.6      2   0     2       1
28   65    0   2       140   417    1  ...      0      0.8      2   1     2       1
29   53    1   2       130   197    1  ...      0      1.2      0   0     2       1
30   41    0   1       105   198    0  ...      0      0.0      2   1     2       1
31   65    1   0       120   177    0  ...      0      0.4      2   0     3       1
32   44    1   1       130   219    0  ...      0      0.0      2   0     2       1
33   54    1   2       125   273    0  ...      0      0.5      0   1     2       1
34   51    1   3       125   213    0  ...      1      1.4      2   1     2       1
35   46    0   2       142   177    0  ...      1      1.4      0   0     2       1
36   54    0   2       135   304    1  ...      0      0.0      2   0     2       1
37   54    1   2       150   232    0  ...      0      1.6      2   0     3       1
38   65    0   2       155   269    0  ...      0      0.8      2   0     2       1
39   65    0   2       160   360    0  ...      0      0.8      2   0     2       1
40   51    0   2       140   308    0  ...      0      1.5      2   1     2       1
41   48    1   1       130   245    0  ...      0      0.2      1   0     2       1
42   45    1   0       104   208    0  ...      1      3.0      1   0     2       1
43   53    0   0       130   264    0  ...      0      0.4      1   0     2       1
44   39    1   2       140   321    0  ...      0      0.0      2   0     2       1
45   52    1   1       120   325    0  ...      0      0.2      2   0     2       1
46   44    1   2       140   235    0  ...      0      0.0      2   0     2       1
47   47    1   2       138   257    0  ...      0      0.0      2   0     2       1
48   53    0   2       128   216    0  ...      0      0.0      2   0     0       1
49   53    0   0       138   234    0  ...      0      0.0      2   0     2       1

[50 rows x 14 columns]